@charset "utf-8";
/* CSS Document */

body {
	background-color:#CFF;
}

#wrapper {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

#itemListDiv {
	background-color:#0FF;
	float:left;
	width:350px;
	height:410px;
	padding:0px;
}

#itemListDiv div[name="list"] {
	float:right;
	padding:10px;
	padding-right:0px;
	margin-top:10px;
	height:370px;
	overflow:hidden;
	width:230px;
	background-color:#CFF;
}

#itemListDiv div[name="indexDiv"] {
	height:30px;
	margin-bottom:5px;
	padding-left:15px;
	width:100%;
}

#itemListDiv div[name="indexDiv"]:hover {
	background-color:#EFF;
	cursor:pointer;
}

#itemListDiv div[name="indexDiv"].current {
	background-color:#FFF;
	cursor:pointer;
}

#itemListDiv div[name="indexDiv"] span {
	line-height:30px;
	font-weight:600;
}

#itemListDiv div[name="limitDiv"] {
	height:305px;
	width:100%;
	overflow:hidden;
	position:relative;
}

#itemListDiv div[name="control"] {
	width:100%;
	margin-top:2px;
	margin-bottom:0px;
	height:28px;
}

#itemListDiv div[name="control"] a {
	display:block;
	margin-right:5px;
	float:left;
	background-image:url(../images/item-setting.png);
}

#itemListDiv div[name="control"] a[name="down"] {
	width:30px;
	height:30px;
	text-indent:999px;
	background-position:-4px -4px;
}

#itemListDiv div[name="control"] a[name="up"] {
	width:30px;
	height:30px;
	text-indent:999px;
	background-position:-38px -4px;
}

#itemListDiv div[name="control"] a[name="up"]:hover{
	background-position:-38px -37px;
}

#itemListDiv div[name="control"] a[name="down"]:hover {
	background-position:-4px -37px;
}

#itemListDiv div[name="control"] a[name="up"]:active {
	background-position:-38px -70px;
}

#itemListDiv div[name="control"] a[name="down"]:active {
	background-position:-4px -70px;
}

#itemListDiv div[name="control"] a[name="new"], #itemListDiv div[name="control"] a[name="del"] {
	width:70px;
	height:30px;
	background-position: 4px -104px;
	line-height:30px;
	text-align:center;
	text-decoration:none;
	color:#FFF;
}

#itemListDiv div[name="control"] a[name="new"]:hover, #itemListDiv div[name="control"] a[name="del"]:hover {
	background-position:4px -139px;
}

#itemListDiv div[name="control"] a[name="new"]:active, #itemListDiv div[name="control"] a[name="del"]:active {
	background-position:4px -174px;
}

#itemList {
	padding:0px;
	list-style-type:none;
	margin:0px;
	position:relative;
}

#itemList li {
	background-color:#CFF;
	width:220px;
	padding-left:10px;
	height:30px;
	margin-bottom:5px;
	line-height:30px;
	overflow:hidden;
}

#itemList li:hover {
	background-color:#EFF;
	cursor:pointer;
	font-weight:500;
}

#itemList li.current {
	background-color:#FFF;
	cursor:pointer;
}

#contents {
	padding:20px;
	height:370px;
	width:600px;
	float:left;
	background-color:#FFF;
}

#markDiv {
	height:300px;
	width:600px;
}

#itemDiv {
	height:300px;
	width:600px;
}

#itemForm > div {
	margin:6px;
}

#itemForm input {
	height:20px;
}

#itemForm > div[name="submit"] {
	text-align:center;
	width: 260px;
	margin-left:auto;
	margin-right:auto;
}

#itemForm > div[name="submit"] input[name="submit"], #itemForm > div[name="submit"] a[name="calculate"] {
	display:inline-block;
	border:none;
	cursor:pointer;
	width:100px;
	height:25px;
	margin-left:20px;
	background-color:#09F;
	line-height:25px;
	text-decoration:none;
	color:#FFF;
	text-align: center;
}

#itemForm > div[name="submit"] > span[name="unsubmitable"] {
	display:block;
	width:200px;
	height:25px;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFF;
	line-height:25px;
	text-decoration:none;
	color:#000;
}

/* item-setting.jsp */

#itemForm > div[name="scoreSet"] table {
	width:100%;
}

#itemForm > div[name="scoreSet"] table td[name="mark"] {
	width:13%;
}

#itemForm > div[name="scoreSet"] table td[name="input"] {
	width:20%;
}

#itemForm > div[name="scoreSet"] input {
	width:100%;
	margin-left:-10px;
}

#itemForm > div[name="settingSet"] table {
	width:100%;
}

#itemForm > div[name="contents"], #itemForm > div[name="checkRequirement"] {
	width:41%;
	padding-left:3%;
	padding-right:3%;
	float:left;
}

#itemForm textarea[name="contents"], #itemForm textarea[name="checkRequirement"] {
	width:100%;
	height:50px;
	resize:none;
}

#calculatingDialog > div[name="loadingDiv"] {
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	text-align:center;
}

#calculatingDialog > div[name="loadingDiv"] > div[name="loadingBar"]
{
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	width:220px;
	height:19px;
	background-image: url(../images/ajax-loading.gif);
	background-position:0 0;
}

/* item-check-setting.jsp */

#itemForm > div[name="title"] {
	height:20px;
}

#itemForm > div[name="userSet"] {
	width:98%;
	padding-left:1%;
	padding-right:1%;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#CFF;
}

#itemForm div[name="checkUsers"] {
	width:49%;
	margin-left:0;
	margin-right:1%;
	height:290px;
	float:left;
	overflow:scroll;
}

#itemForm div[name="allUsers"] {
	width:49%;
	margin-left:1%;
	margin-right:0;
	height:290px;
	float:left;
	overflow:scroll;
}

#itemForm div.users {
	float:left;
	background-color:#0CF;
	height:20px;
	line-height:20px;
	margin-right:3px;
	margin-bottom:3px;
	width:125px;
	cursor:pointer;
}

#itemForm div.users:hover {
	background-color:#00F;
}

#itemForm div.users > a {
	float:left;
	display:block;
	line-height:20px;
	font: 12px "Trebuchet MS", sans-serif;
	color:#FFF;
	text-decoration:none;
}

/* item-publicity-setting */

#itemForm div[name="publicitySet"] {
	height:270px;
	text-align:center;
}

#itemForm > div[name="public-hearings-contents"] {
	width:100%
}
