@charset "utf-8";
/* CSS Document */

/* common */

#wrapper {
}

#itemsDiv {
	width:580px;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFF;
	padding-top: 40px;
}

#contents {
	width:560px;
}

#calculate-div {
	text-align: center;
	position: fixed;
	width: 100%;
	height: 25px;
	padding: 5px;
	background-color: #FFF;
	z-index: 5;
}

#calculate-div a[name="calculate"] {
	display:inline-block;
	border:none;
	cursor:pointer;
	width:100px;
	height:25px;
	margin-left:20px;
	background-color:#09F;
	line-height:25px;
	text-decoration:none;
	color:#FFF;
	text-align: center;
}

.item {
	width:560px;
	padding-bottom:3px;
	padding-top:10px;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	border-bottom-color:#000;
}

.item:hover {
	background-color:#DFF;
}

.item > div[name="user"] {
	height:30px;
	line-height:20px;
	padding-left:20px;
	margin-bottom:10px;
	width:500px;
}

.item > div[name="user"] > h1 {
	color:#000;
	font-weight:600;
}

.item div[name="userSubmittedText"] {
	width:500px;
	margin-left:20px;
	margin-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	background-color:#FFC;
}

.item div[name="userSubmittedValue"] {
	width:500px;
	margin-left:20px;
	margin-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	background-color:#FFC;
}

.item div[name="text"] {
	float:left;
	width:530px;
	height:55px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	
}

.itemForm textarea[name="text"] {
	width:530px;
	height:50px;
	resize:none;
}

.item div[name="checkValue"]{
	height:35px;
	margin-left:20px;
	width:420px;
	float:left;
}

.item div.valueSlider {
	width:300px;
	background-color:#ABC;
	float:left;
	margin-top:9px;
	margin-left:15px;
}

.item div[name="valueDisplay"]{
	height:20px;
	line-height:20px;
	margin-left:30px;
	width:60px;
	margin-top:5px;
	float:left;
}

.item div[name="valueDisplay"] input[name="value"]{
	height:20px;
	line-height:20px;
	width:60px;
	background:none;
}

.item div[name="submit"] {
	float:right;
	width:90px;
	height:25px;
	padding-top:5px;
	padding-bottom:5px;
}

.itemForm input[name="submit"] {
	outline:none;
	border:none;
	background-image:url(../images/usr-element.png);
	background-position:0 0;
	width:72px;
	height:25px;
	text-indent:-999px;
	cursor:pointer;
}

.itemForm input[name="submit"]:hover {
	background-position:0px -30px;
}

.item div[name="submit"] > span[name="submitSuccessMsg"] {
	width:72px;
	height:25px;
	line-height:25px;
}

.item div[name="showPicDiv"] a, .item div[name="showCodeDiv"] a {
	font-size:12px;
	text-decoration:none;
	color:#666;
	margin-left:20px;
}

.item div[name="picDiv"] {
	padding:5px;
	background-color:#FFF;
	border-width:2px;
	border-style:dashed;
	border-color:#999;
	margin-top:5px;
}

.item div[name="picDiv"] div.picFrame, .item div[name="picDiv"] div.picFrameNew {
	width:100px;
	height:70px;
	float:left;
	margin:3px;
	background-color:#FFF;
	border-width:1px;
	border-style:solid;
	border-color:#000;
	overflow:hidden;
	position:relative;
}

.item div[name="picDiv"] div.picFrame img {
	display:block;
	margin-left:auto;
	margin-right:auto;
	cursor:pointer;
}

#theEnd {
	position:relative;
}

/* public-hearings-item */

.wordItem {
	width:560px;
	padding-bottom:3px;
	padding-top:10px;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	border-bottom-color:#000;
}

.wordItem:hover {
	background-color:#DFF;
}

.wordItem div[name="text"] {
	width:500px;
	margin-left:20px;
	margin-bottom:5px;
	padding-left:10px;
	padding-right:10px;
}

/* item-fill */

#itemsDiv div[name="contents"] {
	float:left;
	width:490px;
	margin-left:30px;
	margin-right:10px;
	margin-top:5px;
	margin-bottom:5px;
}

#uploadImgDialog div[name='loadingBar'] {
	width:220px;
	height:19px;
	background-image: url(../images/ajax-loading.gif);
	background-position:0 0;
	margin-left:auto;
	margin-right:auto;
}

.item div[name="picDiv"] div.picFrame:hover a{
	position:absolute;
	top:50px;
	left:0px;
	background-color:#6CF;
	text-align:center;
	color:#000;
	font-size:12px;
	text-decoration:none;
	width:100px;
	height:20px;
}

.item div[name="picDiv"] div.picFrameNew a{
	display:block;
	background-image: url(../images/newImgBackground.png);
	width:100px;
	height:70px;
	text-indent:-999px;
}

/* item-check-one */

#itemsDiv div[name="item-checkRequirement"] {
	float:left;
	width:560px;
	padding-left:30px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}
