@charset "utf-8";
/* CSS Document */

#footer {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

#inner-footer {
	width:500px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

#inner-footer a {
	margin-right:10px;
	margin-left:10px;
	text-decoration:none;
	color:#000;
	font-family:Verdana, Arial, "宋体", sans-serif;
	font-size:12px;
	font-weight:500;
}

#inner-footer a:hover {
	text-decoration:underline;
}


#footer div[name="footer-image"] {
	margin-top:10px;
	text-align:center;
}
