@charset "utf-8";
/* CSS Document */

body {
	background-color:#FFF;
}

#wrapper {
	width:880px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

#itemListDiv {
	background-color:#353e43;
	float:left;
	padding:0px;
	border-radius: 10px 0px 0px 10px; 
}

#itemListDiv div[name="list"] {
	float:right;
	padding-top:10px;
	padding-right:0px;
	height:520px;
	width:230px;
}

#itemListDiv div[name="headOperate"] {
	height: 40px;
}

#itemListDiv div[name="headOperate"] > ul {
	margin-left: -20px;
}

#itemListDiv div[name="headOperate"] > ul > li {
	list-style-type:none; 
	margin-left: 15px;
	float: left;
}

#itemListDiv div[name="headOperate"] > ul > li > a {
	color: #c0c0c0;
	font-family: Verdana, Arial, "宋体", sans-serif;
	text-decoration: none;
}

#itemListDiv div[name="headOperate"] > ul > li > a:hover {
	color: white;
}

#itemListDiv div[name="indexDiv"] {
	height:43px;
	padding-left:15px;
	width:100%;
	background: url("../images/leftItem.png") no-repeat;
	color: #d3d3d3;
}

#itemListDiv div[name="indexDiv"]:hover {
	background: url("../images/onHover.png") no-repeat;
	cursor:pointer;
	color: white;
}

#itemListDiv div[name="indexDiv"].current {
	background: url("../images/onSelect.png") no-repeat;
	margin-left: -4px;
	cursor:pointer;
}

#itemListDiv div[name="indexDiv"] span {
	line-height:43px;
	font-weight:600;
}

#itemListDiv div[name="limitDiv"] {
	height:390px;
	width:234px;
	margin-left: -4px;
	position:relative;
	overflow: hidden;
}

#itemListDiv div[name="control"] {
	width:100%;
	margin-top:2px;
	height:28px;
	text-align: center;
}

#itemListDiv div[name="control"] a {
	display: inline-block;
	background-image:url(../images/item-setting.png);
}

#itemListDiv div[name="control"] a[name="up"] {
	width:30px;
	height:30px;
	text-indent:1999px;
	background-position:-38px -4px;
}

#itemListDiv div[name="control"] a[name="down"] {
	width:30px;
	height:30px;
	text-indent:1999px;
	background-position:-4px -4px;
}

#itemListDiv div[name="control"] a[name="up"]:hover {
	background-position:-38px -37px;
}

#itemListDiv div[name="control"] a[name="down"]:hover {
	background-position: -4px -37px;
}

#itemListDiv div[name="control"] a[name="up"]:active {
	background-position:-38px -70px;
}

#itemListDiv div[name="control"] a[name="down"]:active {
	background-position:-4px -70px;
}

#itemListDiv div[name="control"] a[name="new"], #itemListDiv div[name="control"] a[name="del"] {
	width:70px;
	height:43px;
	background-position: 4px -104px;
	line-height:30px;
	text-align:center;
	text-decoration:none;
}

#itemList {
	padding:0px;
	list-style-type:none;
	margin:0px;
	position:relative;
}

#itemList li {
	background: url("../images/leftItem.png") no-repeat;
	width:220px;
	padding-left:40px;
	height:43px;
	margin-left: 4px;
	line-height:43px;
	overflow:hidden;
	color: #d3d3d3;
}

#itemList li:hover {
	background: url("../images/onHover.png") no-repeat;
	cursor:pointer;
	font-weight:500;
	color: white;
}

#itemList li.current {
	background: url("../images/onSelect.png") no-repeat;
	cursor:pointer;
	margin-left: 0;
}

#contents {
	width:640px;
	height:530px;
	float:left;
	background: -webkit-gradient(linear, 0 0, 40% 100%, from(#c4c8cb), to(#ede4f5));
	background: -moz-linear-gradient(-135deg, #c4c8cb, #ede4f5 40%);
	border-color:#000;
	border-left-width:0px;
}

#markDiv {
	height:550px;
	width:640px;
}

#markDiv > div[name="loadingDiv"]
{
	width:220px;
	margin-left:auto;
	margin-right:auto;
	padding-top:130px;
}

#markDiv > div[name="loadingDiv"] > div[name="word"] 
{
	text-align:center;
	height:40px;
	line-height:40px;
}

#markDiv > div[name="loadingDiv"] > div[name="word"] span
{
	height:40px;
	font-family: "华文行楷", "华文隶书", "隶书", "黑体", "宋体", "微软雅黑";
	font-size:24px;
	text-align:center;
}

#markDiv > div[name="loadingDiv"] > div[name="loadingBar"]
{
	width:220px;
	height:19px;
	background-image: url(../images/ajax-loading.gif);
	background-position:0 0;
}

#itemDiv {
	margin:15px;
	width:610px;
	height:520px;
	outline:none;
	border:none;
	overflow:hidden;
}

#itemDiv.iframe {
	overflow-y:scroll;
}

#itemForm > div {
	margin:6px;
}

#itemForm input {
	height:20px;
}

#codeDialog {
	padding: 20px;
	max-height: 400px;
	overflow-y: scroll;
}

#codeDialog pre, #codeDialog div.syntax-container {
	background-color: #FFF;
}
