@charset "utf-8";
/* CSS Document */

*
{
	margin: 0;
	padding: 0;
	border: none;
	font-family: "Microsoft YaHei UI", "Times New Roman";
	overflow: hidden;
}

/* course */
#course div{
	text-align:center;
}
#course div .item{
	height:100px;
	width:270px;
	-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.5);
	-moz--box-shadow:0 2px 5px rgba(0,0,0,0.5);
	-o--box-shadow:0 2px 5px rgba(0,0,0,0.5);
	-ms--box-shadow:0 2px 5px rgba(0,0,0,0.5);
	box-shadow:0 2px 5px rgba(0,0,0,0.5);
	margin:15px 20px;
	background-color:#fff;
	padding:10px;
	text-align:left;
}
#course div a{
	color:#2b2b2b;
	font-size:15px;
}
#course div a p{
	margin-top:8px;
	font-size:11px;
}
#course div .item{
	display:inline-block;
}
#course div .item p{
	zoom:1;
}
#course div .item div{
	width:270px;
	height:60px;
	vertical-align:top;
}