@charset "utf-8";
/* CSS Document */

body {
	background-color:#CFF;
}

#wrapper {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

#contents {
	width:960px;
	margin-left:auto;
	margin-right:auto;
	height:320px;
	background-color:#FFF;
	padding:20px;
}

#password-div
{
	width:340px;
	margin-left:auto;
	margin-right:auto;
}

#password-div table{
	line-height:50px;
}

#password-div table tr[name="error"]{
	color:red;
}

#password-div table td[name="name"]
{
	width:100px;
}

#password-div table td[name="input"]
{
	width:226px;
}

#password-div input[type="password"], #password-div input[type="text"] {
	background-image:url(../images/login-element.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	padding:0px;
	border:none;
	width: 226px;
	font-size:16px;
	height:35px;
	line-height:30px;
}

#password-div input[type="password"]:focus {
	background-position:0px -40px;
	outline:none;
}

#password-div table div[name="submit"] {
	text-align:center;
}

#password-div table div[name="submit"] > a[name="submit"],
#password-div table div[name="submit"] > input[type="submit"] {
	display:block;
	border:none;
	cursor:pointer;
	width:100px;
	height:25px;
	margin-left:auto;
	margin-right:auto;
	background-color:#09F;
	line-height:25px;
	text-decoration:none;
	color:#FFF;
}
